
body {
  background-color: orange;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#score {
    width: 300px;
    height: 70px;
    border: 1px solid yellow;
    background-color: black;
    position: absolute;
    top: 470px;
}

#gameItem {
  background-color: pink;
  width: 30px;
  height: 30px;
  position: absolute;
  border-style: solid;
  border-radius: 30px;
  left: 40px;
  
}

#divisionLine {
  background-color: black;
  width: 0px;
  height: 430px;
  position: absolute;
  left: 220px; 
  border-style: dashed;
  border-color: white;
  border-width: 4px;
}

#leftPaddle {
    background-color: white;
    width: 15px;
    height: 80px;
    position: absolute;
    top: 180px;
}

#rightPaddle {
    background-color: white;
    width: 15px;
    height: 80px;
    position: absolute;
    left: 420px;
    top: 180px;
}