
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: white;
  width: 7px;
  height: 440px;
  position: absolute;
  left: 220px; 
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#leftPaddle {
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
}

#rightPaddle {
    background-color: white;
    width: 20px;
    height: 20px;
}